{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contacto</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'core/css/style.css'%}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style=>
                <div class="container">
                    <a class="navbar-brand" href="#">Menú</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Productos
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'salada' %}">Tabla salada</a></li>
                                    <li><a class="dropdown-item" href="{% url 'dulce' %}">Tabla dulce</a></li>
                                    <li><a class="dropdown-item" href="{% url 'mixta' %}">Tabla mixta</a></li>
                                </ul>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'about' %}">Quienes somos</a>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'contacto' %}">Contacto</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Proveedores
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'form_proveedor' %}">Registro</a></li>
                                    <li><a class="dropdown-item" href="{% url 'listado' %}">Listado</a></li>

                                </ul>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 id="centrar">Contacto</h1>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div><img src="{% static 'core/img/contacto.png'%}" id="ImgContacto"></div>
            </div>
            <div class="col-lg-6">
                <form method="POST" id="formulario">
                    <div class="form-group">
                        <label for="IngresoRut">Run</label>
                        <input type="text" class="form-control" id="IngresoRut" minlength="7"
                            placeholder="Ingrese su rut sin ultimo digito verificador" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Juana María">
                    </div>
                    <div class="form-group">
                        <label for="inputEdad">Edad</label>
                        <input type="number" class="form-control" id="inputEdad" placeholder="Ingrese su edad" MIN="18"
                            MAX="110" required>
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo Electrónico:</label>
                        <input type="email" class="form-control" id="correo" name="correo"
                            placeholder="correo@ejemplo.etc">
                    </div>
                    <div class="form-group">
                        <label for="inputTelefono">Telefono</label>
                        <input type="text" class="form-control" id="inputTelefono" maxlength="12"
                            placeholder="+56912312312" required>
                    </div>
                    <div class="form-group">
                        <label for="motivo">Motivo: </label>
                        <select class="form-group" aria-label=".form-select-lg example" required>
                            <div>
                                <option value="1">Consulta</option>
                                <option value="2">Reclamo</option>
                                <option value="3">Sugerencia</option>
                                <option value="4">Otro</option>
                            </div>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comentario">Comentario</label>
                        <textarea class="form-control" id="comentario" rows="4" maxlength="300" required></textarea>
                    </div>
                    <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
                    <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
                    <div id="error" class="alert alert-danger" role="alert"></div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        $("#inputTelefono").focus(function () {
            $("#inputTelefono").val("+569");
            $("#inputTelefono").unbind();
        });
        if (inputTelefono == '' && correo == '') {
            alert("Ingrese su correo o telefono")
        } else {
        }

        $(document).ready(function () {
            $("#IngresoRut").blur(function (event) {
                const IngresoRut = document.getElementById("IngresoRut").value
                $.get(`https://api.libreapi.cl/rut/digit?rut=${IngresoRut}`, function (data) {
                    console.log("rut validado correctamente")
                    $("#IngresoRut").html("$" + data.IngresoRut);
                }).error(function (error) {
                    mensaje = "Ingrese un rut válido";
                    $('#error').html(mensaje);
                    $('#error').show();
                    event.preventDefault();

                })
            });
        });

        $(document).ready(function () {
            $('#error').hide();
            $('#formulario').submit(function (event) {
                var mensaje = "";

                if (mensaje != "") {
                    $('#error').html(mensaje);
                    $('#error').show();
                    event.preventDefault();
                }

            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>


</html>