{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8>">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tabla Salada</title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{% static 'core/css/style.css'%}" rel="stylesheet">
</head>

<body>
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style=>
        <div class="container">
          <a class="navbar-brand" href="#">Menú</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Productos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'salada' %}">Tabla salada</a></li>
                  <li><a class="dropdown-item" href="{% url 'dulce' %}">Tabla dulce</a></li>
                  <li><a class="dropdown-item" href="{% url 'mixta' %}">Tabla mixta</a></li>
                </ul>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'about' %}">Quienes somos</a>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'contacto' %}">Contacto</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Proveedores
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'form_proveedor' %}">Registro</a></li>
                  <li><a class="dropdown-item" href="{% url 'listado' %}">Listado</a></li>

                </ul>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="centrar">Tabla 1: Salada</h1>
      </div>
      <hr>
      <div class="col-lg-6">
        <div><img src="{% static 'core/img/tablasalada.jpg'%}" id="Imgsize"></div>
        <p>Valor: $9.990</p>
        <p><a class="btn btn-secondary" href="{% url 'home' %}" role="button" id="botonmorado">&laquo;Volver</a></p>
      </div>
      <div class="col-lg-6">
        <ul>
          <li>Contiene:</li>
          <li>Empanadas</li>
          <li>Papas Fritas</li>
          <li>Salsa de ajo</li>
          <li>Maní</li>
          <li>Jamón</li>
          <li>Queso</li>
          <li>Palitos de Salame</li>
          <li>Aceitunas Negras</li>
          <li>Aceitunas rellenas de pimentón</li>
          <li>Palitos de tomates cherry con queso fresco</li>
        </ul>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>